-# ＜サイドバー＞
.side_bar
  .side_bar__username
    .side_bar__username__topitem
      .side_bar__username__topitem__name
        masa
      .side_bar__username__topitem__icons
        = link_to "#",class: "side_bar__username__topitem__icons__icon" do
          = icon('fas','edit')
          %span<>
        = link_to "#",class: "side_bar__username__topitem__icons__icon" do
          = icon('fas','cog')

  .side_bar__grouplist
    .side_bar__grouplist__sideitem
      .side_bar__grouplist__sideitem__group
        techcamp
      .side_bar__grouplist__sideitem__message
        まだメッセージがありません
    .side_bar__grouplist__sideitem
      .side_bar__grouplist__sideitem__group
        techcamp
      .side_bar__grouplist__sideitem__message
        まだメッセージがありません